#datetime {
    text-align: center;
}
#datetime h1{
    font-size: 6.1em;
}
#datetime h2{
    font-size: 1.0em;
}
#forecast ul li {
    font-size: 4.5em;
    text-align: center;
}
#forecast ul li h3 {
    font-size: 1.4em;
}
#forecast ul li .today h3 {
    font-size: 1.8em;
}
#actionbar {
    position: absolute;
    bottom: 0.5em;
    right: 1.0em;
}
#actionbar a {
    font-size: 2.2rem;
    color: #000;
}


.home header {

    background-image: url(../image/header.jpg);
    background-position:center center;
    height:1050px;
    padding:90px 0 0;

}
.blog header {

    background-color: #2e6da4;
    height:100px;
    padding:90px 0 0;

}

.background {
    position: relative;
    background-position:center center;
    background-size: cover;
    background-repeat:no-repeat;
    opacity:0.8;


}
.navbar {
    z-index: 1030;
    position: fixed;
    top:30px;
}
footer {
    background-color: #222222;
    position: relative;
    padding:90px 0;
}
footer p,footer h3, footer small{

    color: #9d9d9d;
}
footer h3 {
    margin: 0 0 20px;
}
footer small {
    display: block;
    margin: 30px 0 0;
}
@media (max-width: 767px){
    footer small {
        margin-bottom: 40px;
    }
}
footer ul>li {
    margin-bottom: 8px;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}
.navbar-custom .navbar-brand  {
    color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #9d9d9d;

}
.text-center {
    text-align: center;
}
.dropdown .dropdown-menu:before {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #2e6da4;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-radius: 5px;

}
body {

}