<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <h3>MyApp</h3>
                <p>Gfei's first Web Application.</p>
                <small>
                    "Copyright © MyApp. All rights reserved."
                </small>
            </div>
            <div class="col-xs-4 col-sm-2 col-md-offset-2 col-sm-offset-1">
                <p>Article</p>
                <ul  class="list-unstyled">
                    <li>124</li>
                    <li>12314</li>
                    <li>12314</li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-2">
                <p>Link</p>
                <ul  class="list-unstyled">
                    <li>124</li>
                    <li>12314</li>
                    <li>12314</li>
                </ul>
            </div>
            <div class="col-xs-4 col-sm-2">
                <p>Connect</p>
                <ul  class="list-unstyled">
                    <li>124</li>
                    <li>12314</li>
                    <li>12314</li>

                </ul>
            </div>
        </div>
    </div>
</footer>