
<div class="home">
    <nav class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" ui-sref="tab.home">Home</a>
            </div>
            <div >
                <ul class="nav navbar-nav">
                    <li><a href="#">Article</a></li>
                    <li class="dropdown">
                        <a  class=" dropdown-toggle"  role="button" data-toggle="dropdown">
                            Learn<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="tab.blog">Blog</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">search</button>
                </form>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- /.container-fluid -->
    </nav>
    <header class=" background">

    </header>
    <section>
        <div class="container">
            <div class="text-center">

                <h3 >Do NEXT!</h3>
            </div>
            <div id="datetime">
                <h1>{{date.raw | date: 'hh mm ss a'}}</h1>
                <h2>{{ date.raw | date: 'EEEE, MMMM yyyy' }}</h2>
            </div>
            <div class="row weather">
                <div class="col-md-3">
                    <h2>{{weather.basic.city}}</h2>
                    <div>空气质量指数：{{weather.aqi.city.aqi}}</div>
                    <div>空气质量：{{weather.aqi.city.qlty}}</div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="更换城市..." ng-model="city">
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="changeCity()" type="button">切换</button>
                          </span>
                    </div><!-- /input-group -->
                </div>
                <div class="col-md-9">
                    <ul class="list-unstyled">
                        <li ng-repeat="forecast in weather.daily_forecast">
                            <div class="col-md-3 text-center">
                                <div>{{forecast.date}}</div>
                                <img ng-src="image/weather_icon/{{forecast.cond.url}}" />
                                <div>{{forecast.tmp.min}}~{{forecast.tmp.max}}</div>
                                <div>{{forecast.cond.txt_d}}</div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>




        </div>

    </section>
</div>